# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.sublime-*

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Vercel
.vercel

# Node modules (si decides usar npm en el futuro)
node_modules/

